.wrapper{
    min-height: 100vh;
    display: grid;
    grid-template-rows: minmax(1fr) 3fr 4rem;
    row-gap: var(--space-lg);
}
.container{
    width: 100%;
    padding: 0 var(--space-md);
}
.header, .footer{
    display: flex;
}
.header{
    flex-direction: column;
}
.main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: var(--space-md);
    row-gap: var(--space-sm);
}
.footer{
    justify-content: center;
    align-items: center;
}
