:root{
    --fontFooter: 'Montserrat', sans-serif;
    --fontPrimary: 'Poppins', sans-serif;
    --fontSecondary: 'PT Serif', serif;

    --fontBolder: 700;
    --fontBold: 600;
    --fontNormal: 400;

    --textPrimary: #333333;
    --textAccent: #A9A9A9;

    --sizeBase: 16px;
    --sizeHeader: 2rem;
    --sizeTitle: 1.25rem;
    --sizeSmall: 0.85rem;
    --sizeSmaller: 0.75rem;

    --space-sm: 0.5rem;
    --space-md: 1rem;
    --space-lg: 2rem;
    --space-xlg: 3rem;
    --space-xxlg: 5rem;

}